<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/add_page.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="../static/resource/icon/noteicon.svg"/>
        <title>Slash Notepad</title>
    </head>
<body>
    <script src="../static/default_script.js"></script>
    <main>
        <h1 class="add-title">Add Note</h1>
        <input id="cateName" type="Cate Name" class="add-field" placeholder="Category">
        <input id="noteName" type="Note Name" class="add-field" placeholder="Note">
        <button id="commitBtn" class="add-btn" onclick="pageTrans(id)">commit</button>
    </main>
</body>
</html>