<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main_page.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../static/resource/icon/noteicon.svg"/>
    <title>Slash Notepad</title>
</head>
<body>
    <script src="../static/default_script.js"></script>
    <script src="../static/main_page.js"></script>
    <header id="header">
        <button id="titlBtn" class="title-button" onclick="pageTrans(id)">
                <img class="title-img" src="../static/resource/icon/noteicon.svg"/>
                <h1 class="title-text">Notepad</h1>
        </button>
        <button id="addBtn" class="add-button" onclick="pageTrans(id)">+add</button>
    </header>

    <main>
        <div id="firBox" class="first-box">
            <button id="recCate" onclick="setSecBox(id)" class="first-button">Recent categories</button>
            <button id="recNote" onclick="setSecBox(id)" class="first-button">Recent notes</button>
            <button id="allNote" onclick="setSecBox(id)" class="first-button">All notes</button>
        </div>
        <div id="secBox" class="second-box">
            <h1 id="secTitl" class="second-title"></h1>
            <div id="secCont"></div>
        </div>
        <div id="prevBox" class="preview-box"></div>
    </main>
</body>
</html>