<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/note_page.css"/>
    <link rel="stylesheet" href="../static/main_page.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../static/resource/icon/noteicon.svg"/>
    <title>Slash Notepad</title>
</head>
<body>
    <script src="../static/default_script.js"></script>
    <script src="../static/note_page.js"></script>
    <script type="application/json" src="../static/data/note_data.json"></script>
    <header>
        <button id="titlBtn" class="title-button" onclick="pageTrans(id)">
                <img class="title-img" src="../static/resource/icon/noteicon.svg"/>
                <h1 id="titlTxt" class="title-text">Notepad</h1>
        </button>
        <div id="noteTitle" class="note-title"></div>
        <button id="addBtn" class="add-button" onclick="pageTrans(id)">+add</button>
    </header>
    <main>
        <div id="noteBox" class="sidebox">
            <div id="recDiv" class="area-box">
                <button id="boxRecTitl" class="sidebox-title-button">
                    <h1>Recents</h1>
                </button>
            </div>
            <div id="chnDiv" class="area-box">
                <button id="boxChnTitl" class="sidebox-title-button">
                    <h1>Chained notes</h1>
                </button>
            </div>
            <div id="noteDiv" class="area-box">
                <button id="boxNoteTitl" class="sidebox-title-button">
                    <h1>All notes</h1>
                </button>
            </div>
        </div>
        <div contenteditable="true" class="note-text" id="textBox" spellcheck="false"></div>
        <div id="toolBox" class="sidebox">
            <div id="item-textAttr" class="item">
                <button class="sidebox-title-button">
                    <h1>Text attribute</h1>
                </button>
                <div id="interArea-textAttr" class="inter-text-attr">
                    <button class="tool-btn"><b>B</b></button>
                    <button class="tool-btn"><em>I</em></button>
                    <button class="tool-btn"><u>U</u></button>
                    <button class="tool-btn"><s>S</s></button>
                </div>
            </div>
            <div id="item-textSize" class="item">
                <button class="sidebox-title-button">
                    <h1>Text size</h1>
                </button>
                <div id="interArea-textSize" class="inter-text-size">
                    <input value="20" class="tool-input" maxlength="3">
                    <div style="font-size: 25px; font-family: Roboto; font-weight: 500;">px</div>
                </div>
            </div>
            <div id="item-textAlign" class="item">
                <button class="sidebox-title-button">
                    <h1>Text align</h1>
                </button>
                <div id="interArea-textAlign" class="inter-text-attr">
                    <button id="alignLeft" class="tool-btn" onclick="textAlign(id)" style="width: 40px; height: 40px;"><img src="../static/resource/icon/ham_left.svg"></button>
                    <button id="alignCenter" class="tool-btn" onclick="textAlign(id)" style="width: 40px; height: 40px;"><img src="../static/resource/icon/ham_center.svg"></button>
                    <button id="alignRight" class="tool-btn" onclick="textAlign(id)" style="width: 40px; height: 40px;"><img src="../static/resource/icon/ham_right.svg"></button>
                </div>
            </div>
        </div>
    </main>
    <script>
        setTitle();
        Render();
        noteChangeDetect();
    </script>
</body>
</html>